body{
    background-color: black;
}
.data{
   color: red;
   font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.cyb{
    color: blue;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.bhp{
    color: azure;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}